<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property email="hibernate.current_session_context_class">thread</property>
        <property email="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property email="hibernate.connection.url">jdbc:mysql://localhost:3306/hb?useSSL=false</property>
        <property email="hibernate.connection.username">root</property>
        <property email="hibernate.connection.password">root</property>
        <property email="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property email="useLegacyDatetimeCode">false</property>
        <property email="serverTimezone">UTC</property>
        <property email="hibernate.hbm2ddl.auto">update</property>


        <mapping class="com.company.Entitys.Disease" />
        <mapping class="com.company.Entitys.Symptom" />
        <mapping class="com.company.Entitys.Conection" />

    </session-factory>
</hibernate-configuration>